<?xml version="1.0" encoding="UTF-8"?>
<?include Version.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="AndroidMusicPresenceLink" Language="1033"
			 Version="$(var.ProductVersion)" Manufacturer="Snail"
			 UpgradeCode="e5fefbf4-6207-4d9c-9e5e-6db2c2eaa8a1">

		<Package InstallerVersion="500" Compressed="yes"
				 InstallScope="perMachine" Platform="x86" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes"
			   CompressionLevel="high" />

		<Upgrade Id="e5fefbf4-6207-4d9c-9e5e-6db2c2eaa8a1">
			<UpgradeVersion Minimum="0.0.0" Maximum="99.0.0"
							IncludeMinimum="yes" IncludeMaximum="no"
							Property="OLDPRODUCTS" />
		</Upgrade>

		<InstallExecuteSequence>
			<RemoveExistingProducts Before="InstallInitialize" />
		</InstallExecuteSequence>

		<Property Id="CREATE_DESKTOP_SHORTCUT" Value="1" />
		<Property Id="CREATE_STARTMENU_SHORTCUT" Value="1" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="AndroidMusicPresenceLink">

					<!-- Main App Files -->
					<Component Id="AndroidMusicPresenceExeComponent" Guid="b9e289b8-37d9-4c21-9b3c-07f1192368b6">
						<File Id="AndroidMusicPresenceExe"
							  Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\AndroidMusicPresenceLink.exe"
							  KeyPath="yes" Vital="yes" />
					</Component>

					<Component Id="AndroidMusicPresenceDllComponent" Guid="4032a71e-680c-4fbf-a8e9-13949bf374be">
						<File Id="AndroidMusicPresenceDll"
							  Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\AndroidMusicPresenceLink.dll"
							  KeyPath="yes" Vital="yes" />
					</Component>

					<Component Id="AndroidMusicPresenceDepsComponent" Guid="f4f1c82f-7cb8-4e70-9bb2-b503c83ac742">
						<File Id="AndroidMusicPresenceDeps"
							  Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\AndroidMusicPresenceLink.deps.json"
							  KeyPath="yes" Vital="yes" />
					</Component>

					<Component Id="AndroidMusicPresenceRuntimeConfigComponent" Guid="171bb8dc-17fb-4a0e-aac5-35810d37763f">
						<File Id="AndroidMusicPresenceRuntimeConfig"
							  Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\AndroidMusicPresenceLink.runtimeconfig.json"
							  KeyPath="yes" Vital="yes" />
					</Component>

					<Component Id="WinRtRuntimeComponent" Guid="0c7300b6-2d08-4a25-91d2-2bb5180fe4d6">
						<File Id="WinRtRuntimeDll"
							  Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\WinRT.Runtime.dll"
							  KeyPath="yes" Vital="yes" />
					</Component>

					<Component Id="WindowsSdkNetComponent" Guid="d8e8c923-9b7d-4c11-bb15-4e1ead30e1e1">
						<File Id="WindowsSdkNetDll"
							  Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Microsoft.Windows.SDK.NET.dll"
							  KeyPath="yes" Vital="yes" />
					</Component>

					<Directory Id="TrayIconsFolder" Name="Tray_Icons">
						<Component Id="TrayIconsComponent" Guid="5f25fdb2-39f7-41e4-a6fe-df72a06a1e04">
							<File Id="TrayActiveUsbIco"
								  Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Tray_Icons\Tray_Active_USB.ico"
								  KeyPath="yes" Vital="yes" />
							<File Id="TrayActiveWifiIco"
								  Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Tray_Icons\Tray_Active_WiFi.ico"
								  Vital="yes" />
							<File Id="TrayNoDeviceIco"
								  Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Tray_Icons\Tray_NoDevice.ico"
								  Vital="yes" />
							<File Id="TrayScrcpyUsbIco"
								  Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Tray_Icons\Tray_Scrcpy_USB.ico"
								  Vital="yes" />
							<File Id="TrayScrcpyWifiIco"
								  Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Tray_Icons\Tray_Scrcpy_WiFi.ico"
								  Vital="yes" />
							<File Id="TrayWifiNoportIco"
								  Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Tray_Icons\Tray_WiFi_Noport.ico"
								  Vital="yes" />
						</Component>
					</Directory>

				</Directory>
			</Directory>

			<Directory Id="AppDataFolder">
				<Directory Id="AppDataSnailFolder" Name="Snail">

					<Component Id="AppDataSnailFolderComponent" Guid="63e2cf13-4a9f-4bd9-8a05-7f21ea5b1857">
						<CreateFolder />
						<RemoveFolder Id="RemoveAppDataSnailFolder" On="uninstall" />
						<RegistryValue Root="HKCU"
									   Key="Software\AndroidMusicPresenceLink"
									   Name="Installed"
									   Type="integer"
									   Value="1"
									   KeyPath="yes" />
					</Component>

					<Directory Id="AppDataResourcesFolder" Name="Resources">

						<Component Id="AppDataResourcesFolderComponent" Guid="ad9cc4a6-4a57-4e1f-9af2-1cb0df7cd20c">
							<CreateFolder />
							<RemoveFolder Id="RemoveAppDataResourcesFolder" On="uninstall" />
							<RegistryValue Root="HKCU"
									   Key="Software\AndroidMusicPresenceLink\Resources"
									   Name="Installed"
									   Type="integer"
									   Value="1"
									   KeyPath="yes" />
						</Component>

						<!-- Resource Components (NeverOverwrite + Permanent) -->
						<Component Id="AdbExeComponent" Guid="31885861-f824-4e6c-b0be-7485b6904dd7" NeverOverwrite="yes" Permanent="yes">
							<File Id="AdbExe" Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Resources\adb.exe" />
							<RegistryValue Root="HKCU" Key="Software\AndroidMusicPresenceLink\Resources"
									   Name="AdbExe" Type="string" Value="1" KeyPath="yes" />
						</Component>

						<Component Id="AdbWinApiDllComponent" Guid="86ff62c3-cc10-4bf7-81c8-6b8c81555c32" NeverOverwrite="yes" Permanent="yes">
							<File Id="AdbWinApiDll" Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Resources\AdbWinApi.dll" />
							<RegistryValue Root="HKCU" Key="Software\AndroidMusicPresenceLink\Resources"
									   Name="AdbWinApiDll" Type="string" Value="1" KeyPath="yes" />
						</Component>

						<Component Id="AdbWinUsbApiDllComponent" Guid="0ef2305f-2c3d-4c36-9c18-73a5ce8864c7" NeverOverwrite="yes" Permanent="yes">
							<File Id="AdbWinUsbApiDll" Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Resources\AdbWinUsbApi.dll" />
							<RegistryValue Root="HKCU" Key="Software\AndroidMusicPresenceLink\Resources"
									   Name="AdbWinUsbApiDll" Type="string" Value="1" KeyPath="yes" />
						</Component>

						<Component Id="AvcodecDllComponent" Guid="12bd10ed-e65b-4cc5-a33f-43bb27fc48ae" NeverOverwrite="yes" Permanent="yes">
							<File Id="AvcodecDll" Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Resources\avcodec-61.dll" />
							<RegistryValue Root="HKCU" Key="Software\AndroidMusicPresenceLink\Resources"
									   Name="AvcodecDll" Type="string" Value="1" KeyPath="yes" />
						</Component>

						<Component Id="AvformatDllComponent" Guid="b65d46b0-15bb-4114-b303-fc8fd003290b" NeverOverwrite="yes" Permanent="yes">
							<File Id="AvformatDll" Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Resources\avformat-61.dll" />
							<RegistryValue Root="HKCU" Key="Software\AndroidMusicPresenceLink\Resources"
									   Name="AvformatDll" Type="string" Value="1" KeyPath="yes" />
						</Component>

						<Component Id="AvutilDllComponent" Guid="97b835ca-2b64-4d45-9201-d86a3fdc4218" NeverOverwrite="yes" Permanent="yes">
							<File Id="AvutilDll" Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Resources\avutil-59.dll" />
							<RegistryValue Root="HKCU" Key="Software\AndroidMusicPresenceLink\Resources"
									   Name="AvutilDll" Type="string" Value="1" KeyPath="yes" />
						</Component>

						<Component Id="FfmpegExeComponent" Guid="05c5a85f-1d01-440b-9cd5-5b0e6fd57d62" NeverOverwrite="yes" Permanent="yes">
							<File Id="FfmpegExe" Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Resources\ffmpeg.exe" />
							<RegistryValue Root="HKCU" Key="Software\AndroidMusicPresenceLink\Resources"
									   Name="FfmpegExe" Type="string" Value="1" KeyPath="yes" />
						</Component>

						<Component Id="IconPngComponent" Guid="a46a4a15-23e6-49e4-85a3-96a9f08efb33" NeverOverwrite="yes" Permanent="yes">
							<File Id="IconPng" Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Resources\icon.png" />
							<RegistryValue Root="HKCU" Key="Software\AndroidMusicPresenceLink\Resources"
									   Name="IconPng" Type="string" Value="1" KeyPath="yes" />
						</Component>

						<Component Id="LibusbDllComponent" Guid="05b49223-c974-4fa3-8fd6-1a605213fdf8" NeverOverwrite="yes" Permanent="yes">
							<File Id="LibusbDll" Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Resources\libusb-1.0.dll" />
							<RegistryValue Root="HKCU" Key="Software\AndroidMusicPresenceLink\Resources"
									   Name="LibusbDll" Type="string" Value="1" KeyPath="yes" />
						</Component>

						<Component Id="LogoPngComponent" Guid="0f7ca46c-acde-4656-af2f-e394076db7f0" NeverOverwrite="yes" Permanent="yes">
							<File Id="LogoPng" Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Resources\Musiclogo.png" />
							<RegistryValue Root="HKCU" Key="Software\AndroidMusicPresenceLink\Resources"
									   Name="LogoPng" Type="string" Value="1" KeyPath="yes" />
						</Component>

						<Component Id="OpenTerminalBatComponent" Guid="8a5b5886-4be9-4236-8f7c-5a918a470d8b" NeverOverwrite="yes" Permanent="yes">
							<File Id="OpenTerminalBat" Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Resources\open_a_terminal_here.bat" />
							<RegistryValue Root="HKCU" Key="Software\AndroidMusicPresenceLink\Resources"
									   Name="OpenTerminalBat" Type="string" Value="1" KeyPath="yes" />
						</Component>

						<Component Id="ScrcpyConsoleBatComponent" Guid="b70add4c-fd4b-4f3b-8cb4-f03d9d94d1dd" NeverOverwrite="yes" Permanent="yes">
							<File Id="ScrcpyConsoleBat" Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Resources\scrcpy-console.bat" />
							<RegistryValue Root="HKCU" Key="Software\AndroidMusicPresenceLink\Resources"
									   Name="ScrcpyConsoleBat" Type="string" Value="1" KeyPath="yes" />
						</Component>

						<Component Id="ScrcpyNoConsoleVbsComponent" Guid="58f47de8-b6a3-4fed-b9c0-66a9eb877eb1" NeverOverwrite="yes" Permanent="yes">
							<File Id="ScrcpyNoConsoleVbs" Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Resources\scrcpy-noconsole.vbs" />
							<RegistryValue Root="HKCU" Key="Software\AndroidMusicPresenceLink\Resources"
									   Name="ScrcpyNoConsoleVbs" Type="string" Value="1" KeyPath="yes" />
						</Component>

						<Component Id="ScrcpyServerComponent" Guid="9edd2c07-d23a-4814-9d00-b7119e000b51" NeverOverwrite="yes" Permanent="yes">
							<File Id="ScrcpyServer" Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Resources\scrcpy-server" />
							<RegistryValue Root="HKCU" Key="Software\AndroidMusicPresenceLink\Resources"
									   Name="ScrcpyServer" Type="string" Value="1" KeyPath="yes" />
						</Component>

						<Component Id="ScrcpyExeComponent" Guid="f3ff0aa7-5504-4cc3-83c9-a3079ef36555" NeverOverwrite="yes" Permanent="yes">
							<File Id="ScrcpyExe" Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Resources\scrcpy.exe" />
							<RegistryValue Root="HKCU" Key="Software\AndroidMusicPresenceLink\Resources"
									   Name="ScrcpyExe" Type="string" Value="1" KeyPath="yes" />
						</Component>

						<Component Id="Sdl2DllComponent" Guid="36ed8e35-8b47-4c17-8b83-d0e64681e6d9" NeverOverwrite="yes" Permanent="yes">
							<File Id="Sdl2Dll" Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Resources\SDL2.dll" />
							<RegistryValue Root="HKCU" Key="Software\AndroidMusicPresenceLink\Resources"
									   Name="Sdl2Dll" Type="string" Value="1" KeyPath="yes" />
						</Component>

						<Component Id="SwresampleDllComponent" Guid="ba6f5668-3f93-46c5-bdbf-1c2c4f3893be" NeverOverwrite="yes" Permanent="yes">
							<File Id="SwresampleDll" Source="..\Crimson AndroidMusicPresence\bin\Release\net8.0-windows10.0.19041.0\Resources\swresample-5.dll" />
							<RegistryValue Root="HKCU" Key="Software\AndroidMusicPresenceLink\Resources"
									   Name="SwresampleDll" Type="string" Value="1" KeyPath="yes" />
						</Component>

					</Directory>
				</Directory>
			</Directory>

			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="ApplicationProgramsFolder" Name="AndroidMusicPresenceLink" />
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>

		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="StartMenuShortcutComponent" Guid="1003877f-aad0-461d-af32-5df5f2aa6750">
				<Condition>CREATE_STARTMENU_SHORTCUT = "1"</Condition>
				<Shortcut Id="StartMenuShortcut"
						  Name="AndroidMusicPresenceLink"
						  Description="Launch AndroidMusicPresenceLink"
						  Target="[INSTALLFOLDER]AndroidMusicPresenceLink.exe"
						  WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\AndroidMusicPresenceLink"
							   Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="DesktopFolder">
			<Component Id="DesktopShortcutComponent" Guid="e39e8e50-d757-4df1-b4d5-f62099b80e74">
				<Condition>CREATE_DESKTOP_SHORTCUT = "1"</Condition>
				<Shortcut Id="DesktopShortcut"
						  Name="AndroidMusicPresenceLink"
						  Description="Launch AndroidMusicPresenceLink"
						  Target="[INSTALLFOLDER]AndroidMusicPresenceLink.exe"
						  WorkingDirectory="INSTALLFOLDER" />
				<RemoveFile Id="RemoveDesktopShortcutFile" Name="AndroidMusicPresenceLink.lnk" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\AndroidMusicPresenceLink"
							   Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<Feature Id="Complete" Title="AndroidMusicPresenceLink" Level="1">

			<!-- Main App -->
			<ComponentRef Id="AndroidMusicPresenceExeComponent" />
			<ComponentRef Id="AndroidMusicPresenceDllComponent" />
			<ComponentRef Id="AndroidMusicPresenceDepsComponent" />
			<ComponentRef Id="AndroidMusicPresenceRuntimeConfigComponent" />
			<ComponentRef Id="WinRtRuntimeComponent" />
			<ComponentRef Id="WindowsSdkNetComponent" />
			<ComponentRef Id="TrayIconsComponent" />

			<!-- AppData -->
			<ComponentRef Id="AppDataSnailFolderComponent" />
			<ComponentRef Id="AppDataResourcesFolderComponent" />
			<ComponentRef Id="AdbExeComponent" />
			<ComponentRef Id="AdbWinApiDllComponent" />
			<ComponentRef Id="AdbWinUsbApiDllComponent" />
			<ComponentRef Id="AvcodecDllComponent" />
			<ComponentRef Id="AvformatDllComponent" />
			<ComponentRef Id="AvutilDllComponent" />
			<ComponentRef Id="FfmpegExeComponent" />
			<ComponentRef Id="IconPngComponent" />
			<ComponentRef Id="LibusbDllComponent" />
			<ComponentRef Id="LogoPngComponent" />
			<ComponentRef Id="OpenTerminalBatComponent" />
			<ComponentRef Id="ScrcpyConsoleBatComponent" />
			<ComponentRef Id="ScrcpyNoConsoleVbsComponent" />
			<ComponentRef Id="ScrcpyServerComponent" />
			<ComponentRef Id="ScrcpyExeComponent" />
			<ComponentRef Id="Sdl2DllComponent" />
			<ComponentRef Id="SwresampleDllComponent" />

			<!-- Shortcuts -->
			<ComponentRef Id="StartMenuShortcutComponent" />
			<ComponentRef Id="DesktopShortcutComponent" />

		</Feature>

	</Product>
</Wix>
